
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.map-image {
    padding: 64px 32px;
    background-color: #E4E6E8;
    width: 100%;
}
.title {
    padding: 32px;
    background-color: #1A1B27;
    text-align: center;    
}
.title__text {
    font-size: 2.4rem;
    color: #FFFFFF;
}
.title__text-modify {
    color: #F5A701;
    font-size: 2.4rem;
}

.image {
    width: 100%;
    height: 100%;
}
.communication {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
}
.communication__addresses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.communication__titles {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    text-align: left;
    padding: 16px 0;
}
.addresses__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.top {
    display: flex;
    pad: 12px 0;
    
}
.addresses__arrow-icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5A701;
    border-radius: 50%;
    
}
.address__box {
    display: flex;
    flex-direction: column;
    padding: 0 28px;
}
.address__number {
    font-size: 1.6rem;
    color: #000000;
    padding: 0 20px;
    line-height: 100%;
}
.address_address {
    font-size: 1.6rem;
    color: #939797;
    padding: 8px 20px;
    
}
.address__email-telephone {
    margin: 8px 20px;
    display: flex;
    align-items: center;
    
}
.email-telephone {
    cursor: pointer;
    font-size: 1.6rem;
    color: #F5A701;
    
}
.communication__message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description__box {
    width: 100%;
    
}
.description__p {
    font-size: 1.6rem;
    color: #939797;
    padding: 8px 0;
}
.delivery-image {
    width: 240px;
    padding: 32px 8px;
}
.formholder {
    width: 100%;
}
.form__title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;

}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form__box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input {
    width: 100%;
    height: 36px;
    margin: 12px 0;
    background-color: #F9FAFA;
    border: 1px solid #939797;
    padding: 8px;
    font-size: 1.6rem;
    color: #939797;
    outline: none;
}
.input::placeholder {
    font-size: 1.6rem;
    color: #939797;  
}
.input::selection {
    background-color: #EFF0F0;
}
.textarea::placeholder {
    font-size: 1.6rem;
    color: #939797;
}
.textarea {
    width: 100%;
    height: 180px;
    outline: none;
    resize: none;
    background-color: #F9FAFA;
    border: 1px solid #939797;
    padding: 8px;
    margin: 12px 0;
    font-size: 1.6rem;
    color: #939797;
}
.form__button {
    width: 100%;
    height: 36px;
    background-color: #F5A701;
    font-size: 1.6rem;
    color: #FFFFFF;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}
@media screen and (min-width: 776px) {
   
  }
  @media screen and (min-width: 1240px) {
    body {
      background-color: lightgreen;
    }
  }
