@import url(root.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Action_bar {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(229, 229, 233); /* added border */
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contacts__text {
  font-family: var(--Action-bar-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #9f9f9f;
  padding: 10px;
  display: none;
  overflow: hidden;
}

.contacts__phone {
  display: flex;
}

.phone__icon {
  content: url("../assets/Images/phone.svg");
  height: var(--Action-bar-icon-height);
  width: var(--Action-bar-icon-width);
  margin: 4px;
  overflow: hidden;
}

.phone__text {
  font-family: var(--Action-bar-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: var(--Action-bar-contacts-font-color);
}
.phone__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts__email {
  display: flex;
  padding: 4px;
}

.email__icon {
  content: url("../assets/Images/email.svg");
  height: var(--Action-bar-icon-height);
  width: var(--Action-bar-icon-width);
  margin: 4px;
}

.email__text {
  font-family: var(--Action-bar-font-family);
  color: var(--Action-bar-contacts-font-color);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #d18e00;
}
.email__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Social_Media {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 8px;
}
.Social_media__skype {
  width: 20px;
  height: 20px;
  background-image: url("../assets/Images/skype.svg");
  background-repeat: no-repeat;
}
.Social_media__skype:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}
.Social_media__facebook {
  background-image: url("../assets/Images/facebook.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.Social_media__facebook:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}

.Social_media__youtube {
  background-image: url("../assets/Images/youtube.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.Social_media__youtube:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}
.Social_media__linkedin {
  background-image: url("../assets/Images/linkedin.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.Social_media__linkedin:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}
.Top_bar {
  display: flex;
  align-items: center; /* centers vertically */
  justify-content: flex-start; /* aligns to the left */
  padding: 10px 20px;
  background-color: rgb(247, 248, 248);
  height: 70px;
}

.Top_bar__line {
  margin: 0;
  border: none;
  height: 1px;
  background-color: rgb(165, 165, 166);
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.Top_bar__icon {
  background-image: url("../assets/Images/retina-logistics.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 38px;
  cursor: pointer;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Top_bar__Menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; /* align to the right */
  position: relative; /* add relative positioning to the parent */
  width: 100%;
  font-size: 30px;
  left: 65px;
}

.Top_bar__Menu label {
  background: rgb(247, 248, 248);
  cursor: pointer;
  padding: 15px; /* increase padding to increase icon size */
}

#Top_bar__Hamburger {
  display: none;
}

.Hamburger__items {
  opacity: 0; /* hide the menu items by default */
  visibility: hidden;
  flex-direction: column;
  background-color: rgb(247, 248, 248);
  padding: 15px;
  position: absolute;
  top: 100%;
  left: 0; /* align to the left */
  width: 100%;
  transition: all 0.3s ease-in-out; /* add transition effect */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#Top_bar__Hamburger:checked ~ .Hamburger__items {
  opacity: 1; /* show the menu items when the hamburger menu is clicked */
  visibility: visible;
}

.Hamburger__items a {
  display: block;
  padding: 5px 15px;
  width: 50px;
  text-align: center; /* center the text horizontally */
  margin-bottom: 10px; /* add some space between menu items */
  position: relative;
  right: 250px;
}

.header-tab {
  color: rgb(47, 65, 100);
  border: none;
  height: 100%;
  cursor: pointer;
  font-family: var(--menu-items-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 55px;
  position: relative;
  background-color: rgb(247, 248, 248);
  z-index: 1;
}
.header-tab_Buy {
  color: rgb(176, 134, 133);
  border: none;
  height: 100%;
  padding: 5px 20px;
  cursor: pointer;
  font-family: var(--menu-items-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 55px;
  position: relative;
  background-color: rgb(247, 248, 248);
  z-index: 1;
}
.header-tab_Buy:hover {
  cursor: pointer;
  color: #f5a700;
  transition: 0.2s ease-in-out;
}

.header-tab_Buy:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f5a700;
  transform: scaleX(0);
}

.header-tab_Buy:hover:not(.home-tab):after {
  transform: scaleX(1); /* show the line on hover */
}

.header-tab:hover {
  cursor: pointer;
  color: #f5a700;
  transition: 0.2s ease-in-out;
}

.header-tab:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #f5a700;
  transform: scaleX(0);
}

.header-tab:hover:not(.home-tab):after {
  transform: scaleX(1); /* show the line on hover */
}

.home-tab {
  color: #f5a700;
  cursor: pointer;
  border-bottom: 4px solid #f5a700;
  padding: 5px 20px;
}
