@import url(root.css);
html{
    scroll-behavior: smooth;
}
/* ---------------------------------Mobile Design--------------------------------- */
.main__row-one {
    display: flex;
    background-image: url(../assets/Images/Home/svg/background.svg);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 350px;
}

h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-mobile-font-size);
}

h2 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h2--mobile-font-size);
}

h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3--mobile-font-size);
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: var(--header-font);
}

.row-one_first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.h1-wrapper {
    display: flex;
}

.first-heading {
    padding-left: 30%;
    width: 100%;
    text-align: right;
    line-height: 30px;
}

.first-logistics-content {
    font-size: inherit;
    font-weight: 900;
    color: #F5A700;
}

.img-wrapper {
    width: 140%;
    display: flex;
    align-self: flex-end;
    overflow: hidden;
}

.first-img-one {
    width: inherit;
    transform: translate(18%, 0%);
}

.first-img-tow {
    align-self: flex-end;
    width: 50%;
    transform: translate(-200%, 0%);
}



.main__row-tow {
    display: flex;
    flex-direction: column;
    padding: 0px 33px;
    padding-bottom: 50px;
}

.row-tow_first {
    display: flex;
}

.first-box {
    width: 100%;
    background-color: orange;
}

.first-box-content {
    color: #fff;
    padding: 1em;
}

.row-tow_second {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.second-box-one {
    padding-bottom: 15px;
}

.second-box-tow,
.second-box-three,
.second-box-four {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.box-image {
    display: flex;
}

.box-image-content {
    max-width: 100%;
}

.box-title,
.box-text {
    margin-bottom: 15px;
}

.box-text-content {
    color: #ccc;
    font-size: var(--caption-font-size);
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
}

.box-link-content {
    text-decoration: none;
    color: orange;
    font-size: 1.5em;
}

.main__row-three {
    display: flex;
    flex-direction: column;
    padding: 50px 33px;
    background-color: #F7F9FA;
    border-top: 1px solid #c3c3c396;
}

.row-three-first {
    display: flex;
    flex-direction: column;
}

.row-three-first-box {
    display: flex;
    width: 50%;
}

.first-content {
    margin-bottom: 30px;
}

.first-content-span {
    display: inline-flex;
    font-size: inherit;
    color: orange;
    margin-right: 20px;
}

.first-img-wrapper {
    display: flex;
}

.first-img-content {
    width: 100%;
}

.second-content {
    margin: 30px 0;
}

.second-row-one {
    display: flex;
    flex-direction: column;
}

.row-one-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.box-img-wrapper {
    display: flex;
}

.box-img-content {
    display: flex;
}

.box-heading-content {
    margin: 20px 0;
}

.box-tex-content {
    font-size: 1.2em;
    color: #575757;
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
}

.second-row-tow {
    display: flex;
    flex-direction: column;
}

.row-tow-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.main__row-four {
    display: flex;
    flex-direction: column;
    padding: 0px 33px;
}

.row-four-first {
    display: flex;
    background-color: orange;
}

.four-first-content {
    color: #fff;
    padding: .5em 1em;
    font-size: 2em;
}

.row-four-second {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.four-second-box-one {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.four-second-conetent-one,
.four-second-conetent-tow {
    font-size: 2em;
    font-weight: 700;
}

.four-span {
    color: #F5A700;
    font-size: inherit;
}

.four-second-conetent-three {
    color: #8d8e90;
    margin: 20px 0;
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
    font-size: var(--caption-font-size);
}

.four-linkbox {
    display: flex;
}

.four-link {
    margin-right: 10px;
    display: flex;
    text-decoration: none;
    color: orange;
    font-size: 1.2em;
}

.four-second-box-tow {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    padding: 15px;
    margin: 20px 5px;
    background-color: #f0f0f0;
}

.social-facebook,
.social-googleplus,
.social-twiteer,
.social-play,
.social-linkedin {
    color: #444444;
    font-size: 2em;
    transition: all .2s linear;
}

.social:hover .social-facebook,
.social:hover .social-googleplus,
.social:hover .social-twiteer,
.social:hover .social-play,
.social:hover .social-linkedin {
    color: #F5A700;
}

/* ---------------------------------Tablet Design--------------------------------- */
@media (min-width:767px) {

    h1 {
        font-size: var(--h1-tablet-font-size);
    }

    h2 {
        font-size: var(--h2--tablet-font-size);

    }

    h3 {
        font-size: var(--h3--tablet-font-size);
    }

    .img-wrapper {
        width: 140%;
    }

    .first-img-one {
        width: 100%;
        transform: translate(48%, 0%);
    }

    .first-img-tow {
        width: 30%;
        transform: translate(-100%, 0%);
    }

    .first-heading {
        line-height: 40px;
    }

    .row-tow_first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .first-box {
        width: 50%;
        background-color: orange;
    }

    .row-tow_second {
        flex-direction: row;
        justify-content: space-between;
    }

    .second-box-one {
        display: flex;
        padding-bottom: 0;
        flex-basis: 21%;
        line-height: 30px;
        font-size: .9em;
    }

    .second-box-tow,
    .second-box-three,
    .second-box-four {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 15px;
        flex-basis: 25%;
    }

    .box-image-content {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .box-title,
    .box-text {
        display: flex;
        font-size: 1.5em;
    }


    .main__row-three {
        flex-direction: row;
    }

    .row-three-first-box {
        width: 100%;
    }


    .row-three-second {
        margin-left: 40px;
    }

    .second-row-one,
    .second-row-tow {
        flex-direction: row;
    }

    .row-one-box {
        flex-basis: 50%;
        margin: 20px;
    }

    .box-heading-content {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .row-tow-box {
        margin: 20px;
        flex-basis: 50%;
    }

    .row-four-first {
        margin-left: auto;
        width: 50%;
    }

    .row-four-second {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .four-second-box-one,
    .four-second-box-tow {
        flex-basis: 50%;
    }

}

@media (min-width:900px) {

    .img-wrapper {
        width: 100%;
    }

    .first-img-one {
        width: 100%;
    }

}

/* ---------------------------------Laptop Design--------------------------------- */
@media (min-width:1240px) {
    h1 {
        font-size: var(--h1-desktop-font-size);
    }

    h2 {
        font-size: var(--h2-desktop-font-size);
    }

    h3 {
        font-size: var(--h3-desktop-font-size);
    }

    .img-wrapper {
        width: 90%;
    }

    .first-img-one {
        width: 100%;
    }

    .main__row-tow {
        padding: 0px 50px;
    }

}

:root {
    /* fonts */
  
    --Action-bar-font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    --menu-items-font-family: "Prompt", sans-serif;
  
    /* size */
    --Action-bar-icon-height: 12px;
    --Action-bar-icon-width: 12px;
  
    /* color */
    --Action-bar-contacts-font-color: #d18e00;
    --Action-bar-Social-Media-Icon-color: rgb(178, 178, 178);
  
    /* margin % padding  */
  
    --Action-bar-padding: 220px;
  }
  
  .Header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Action_bar {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 233); /* added border */
  }
  
  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .contacts__text {
    font-family: var(--Action-bar-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #9f9f9f;
    padding: 10px;
    display: none;
    overflow: hidden;
  }
  
  .contacts__phone {
    display: flex;
  }
  
  .phone__icon {
    content: url("../assets/Images/phone.svg");
    height: var(--Action-bar-icon-height);
    width: var(--Action-bar-icon-width);
    margin: 4px;
    overflow: hidden;
  }
  
  .phone__text {
    font-family: var(--Action-bar-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: var(--Action-bar-contacts-font-color);
  }
  .phone__text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .contacts__email {
    display: flex;
    padding: 4px;
  }
  
  .email__icon {
    content: url("../assets/Images/email.svg");
    height: var(--Action-bar-icon-height);
    width: var(--Action-bar-icon-width);
    margin: 4px;
  }
  
  .email__text {
    font-family: var(--Action-bar-font-family);
    color: var(--Action-bar-contacts-font-color);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #d18e00;
  }
  .email__text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .Social_Media {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 8px;
  }
  .Social_media__skype {
    width: 20px;
    height: 20px;
    background-image: url("../assets/Images/skype.svg");
    background-repeat: no-repeat;
  }
  .Social_media__skype:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
  }
  .Social_media__facebook {
    background-image: url("../assets/Images/facebook.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .Social_media__facebook:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
  }
  
  .Social_media__youtube {
    background-image: url("../assets/Images/youtube.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .Social_media__youtube:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
  }
  .Social_media__linkedin {
    background-image: url("../assets/Images/linkedin.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .Social_media__linkedin:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
  }
  .Top_bar {
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: flex-start; /* aligns to the left */
    padding: 10px 20px;
    background-color: rgb(247, 248, 248);
    height: 70px;
  }
  
  .Top_bar__line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgb(165, 165, 166);
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
  }
  
  .Top_bar__icon {
    background-image: url("../assets/Images/retina-logistics.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 38px;
    cursor: pointer;
  }
  
  .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .Top_bar__Menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; /* align to the right */
    position: relative; /* add relative positioning to the parent */
    width: 100%;
    font-size: 30px;
    left: 65px;
  }
  
  .Top_bar__Menu label {
    background: rgb(247, 248, 248);
    cursor: pointer;
    padding: 15px; /* increase padding to increase icon size */
  }
  
  #Top_bar__Hamburger {
    display: none;
  }
  
  .Hamburger__items {
    opacity: 0; /* hide the menu items by default */
    visibility: hidden;
    flex-direction: column;
    background-color: rgb(247, 248, 248);
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0; /* align to the left */
    width: 100%;
    transition: all 0.3s ease-in-out; /* add transition effect */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  #Top_bar__Hamburger:checked ~ .Hamburger__items {
    opacity: 1; /* show the menu items when the hamburger menu is clicked */
    visibility: visible;
  }
  
  .Hamburger__items a {
    display: block;
    padding: 5px 15px;
    width: 50px;
    text-align: center; /* center the text horizontally */
    margin-bottom: 10px; /* add some space between menu items */
    position: relative;
    right: 250px;
  }
  
  .header-tab {
    color: rgb(47, 65, 100);
    border: none;
    height: 100%;
    cursor: pointer;
    font-family: var(--menu-items-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 55px;
    position: relative;
    background-color: rgb(247, 248, 248);
    z-index: 1;
  }
  .header-tab_Buy {
    color: rgb(176, 134, 133);
    border: none;
    height: 100%;
    padding: 5px 20px;
    cursor: pointer;
    font-family: var(--menu-items-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 55px;
    position: relative;
    background-color: rgb(247, 248, 248);
    z-index: 1;
  }
  .header-tab_Buy:hover {
    cursor: pointer;
    color: #f5a700;
    transition: 0.2s ease-in-out;
  }
  
  .header-tab_Buy:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f5a700;
    transform: scaleX(0);
  }
  
  .header-tab_Buy:hover:not(.home-tab):after {
    transform: scaleX(1); /* show the line on hover */
  }
  
  .header-tab:hover {
    cursor: pointer;
    color: #f5a700;
    transition: 0.2s ease-in-out;
  }
  
  .header-tab:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #f5a700;
    transform: scaleX(0);
  }
  
  .header-tab:hover:not(.home-tab):after {
    transform: scaleX(1); /* show the line on hover */
  }
  
  .home-tab {
    color: #f5a700;
    cursor: pointer;
    border-bottom: 4px solid #f5a700;
    padding: 5px 20px;
  }
  

:root {
    --title-font-size: 13px;
    --title-font-weight: 500;
    --title-font-family: "Prompt", Helvetica, Arial, sans-serif;
    --title-font-color: #fff;
  
    --subtitle-font-size: 13px;
    --subtitle-font-weight: 300;
    --subtitle-font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    --subtitle-font-color: rgb(172, 182, 176);
  
    --footer-section-padding: 20px;
  }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 27, 39);
}

.footer_top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer_down {
  display: flex;
  width: 100%;
  height: 100%;
}
.bold {
  display: flex;
  flex-direction: column;
  padding: var(--footer-section-padding);
}

.bold__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-font-color);
  font-family: var(--title-font-family);
  padding: 10px;
}

.bold__subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.bold__subtitle_icon {
  content: url("https://api.iconify.design/tabler/direction-sign.svg?color=white&width=10&height=10");
  width: 10px;
  height: 10px;
}

.bold__subtitle_text {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--subtitle-font-color);
  margin-left: 20px;
  margin-top: -10px;
}

.bold__subtitle_text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(245, 170, 8);
}

.subtitle_info {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: #707176;
  padding: 10px;
  margin-top: -10px;
}
.container {
  position: relative;
}

.line {
  height: 1px;
  background-color: rgb(95, 87, 90);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 240px;
}

.footer_end {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: #707176;
  padding: 100px 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_refs {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--subtitle-font-color);
}
.footer_refs:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(245, 170, 8);
}

.Social_Media {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 8px;
  padding: 10px;
}
.Social_media__skype {
  width: 25px;
  height: 25px;
  background-image: url("../assets/Images/Footer/skype.svg");
  background-repeat: no-repeat;
  filter: invert(1);
}
.Social_media__skype:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}
.Social_media__facebook {
  background-image: url("../assets/Images/Footer/facebook.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.Social_media__facebook:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}

.Social_media__youtube {
  background-image: url("../assets/Images/Footer/youtube.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.Social_media__youtube:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}
.Social_media__linkedin {
  background-image: url("../assets/Images/Footer/linkedin.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  filter: invert(1);
}
.Social_media__linkedin:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: filter 0.2s ease-in-out;
}

/* Default styles for all screen sizes */
p {
  margin-bottom: 1rem;
}

.social-media {
  margin-bottom: 1rem;
}

.Return_top {
  content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
  height: 40px;
  width: 35px;
}

@media only screen and (max-width: 768px) {
  .Return_top {
    content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
    height: 35px;
    width: 30px;
    position: absolute;
    z-index: 999;
    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_end {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #707176;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: -10px;
    margin-top: 20px;
  }

  .line {
    height: 1px;
    background-color: rgb(95, 87, 90);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
  }

  .bold__subtitle_text {
    font-size: var(--subtitle-font-size);
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
    margin-left: 20px;
    margin-top: -2px;
  }
}

@media only screen and (min-width: 1240px) {
  p {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 0;
  }

  .social-media {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 0;
  }

  .footer_end__social_Media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }
  .footer_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 27, 39);
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }

  .line {
    height: 1px;
    background-color: rgb(95, 87, 90);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
  }

  .bold__title {
    font-size: 20px;
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);
    font-family: var(--title-font-family);
    padding: 10px;
  }

  .bold__subtitle_text {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: 300;
    color: var(--subtitle-font-color);
    position: relative;
    bottom: 18px;
    left: 20px;
  }

  .line {
    height: 1px;
    background-color: #707176;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
  }

  .footer_end {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #707176;
    padding: 100px;
  }

  .subtitle_info {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: 300;
    color: #707176;
    width: 250px;
  }

  .bold__subtitle_icon {
    content: url("https://api.iconify.design/uil/arrow-circle-right.svg?color=%23a29794");
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .bold__subtitle {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: stretch;
    justify-content: flex-start;
  }

  .footer_refs {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
  }
  .container {
    overflow: hidden;
  }

  .Return_top {
    content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
    height: 40px;
    width: 35px;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .social-media {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 0;
  }

  .footer_end__social_Media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 27, 39);
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
  }

  .bold__title {
    font-size: 20px;
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);
    font-family: var(--title-font-family);
    padding: 10px;
  }

  .bold__subtitle_text {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: 300;
    color: var(--subtitle-font-color);
    position: relative;
    bottom: 6px;
    left: 8px;
  }

  .line {
    height: 1px;
    background-color: #707176;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    border: none;
  }

  .footer_end {
    font-size: 18px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #707176;
    padding: 10px;
  }

  .subtitle_info {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: 300;
    color: #707176;
    width: 250px;
  }

  .bold__subtitle_icon {
    content: url("https://api.iconify.design/uil/arrow-circle-right.svg?color=%23a29794");
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .bold__subtitle {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: stretch;
    justify-content: flex-start;
  }

  .footer_refs {
    font-size: 20px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
  }
  .container {
    overflow: hidden;
  }

  .footer_end {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #707176;
    padding: 100px;
  }

  .footer_refs {
    font-size: 13px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
  }

  .bold__subtitle {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: stretch;
    justify-content: flex-start;
    width: 170px;
  }

  .bold {
    display: flex;
    flex-direction: column;
  }
}
