@import url(root.css);

/* ---------------------------------Mobile Design--------------------------------- */
.main__row-one {
    display: flex;
    background-image: url(../assets/Images/Home/svg/background.svg);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 350px;
}

h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-mobile-font-size);
}

h2 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h2--mobile-font-size);
}

h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3--mobile-font-size);
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: var(--header-font);
}

.row-one_first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.h1-wrapper {
    display: flex;
}

.first-heading {
    padding-left: 30%;
    width: 100%;
    text-align: right;
    line-height: 30px;
}

.first-logistics-content {
    font-size: inherit;
    font-weight: 900;
    color: #F5A700;
}

.img-wrapper {
    width: 140%;
    display: flex;
    align-self: flex-end;
    overflow: hidden;
}

.first-img-one {
    width: inherit;
    transform: translate(18%, 0%);
}

.first-img-tow {
    align-self: flex-end;
    width: 50%;
    transform: translate(-200%, 0%);
}



.main__row-tow {
    display: flex;
    flex-direction: column;
    padding: 0px 33px;
    padding-bottom: 50px;
}

.row-tow_first {
    display: flex;
}

.first-box {
    width: 100%;
    background-color: orange;
}

.first-box-content {
    color: #fff;
    padding: 1em;
}

.row-tow_second {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.second-box-one {
    padding-bottom: 15px;
}

.second-box-tow,
.second-box-three,
.second-box-four {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.box-image {
    display: flex;
}

.box-image-content {
    max-width: 100%;
}

.box-title,
.box-text {
    margin-bottom: 15px;
}

.box-text-content {
    color: #ccc;
    font-size: var(--caption-font-size);
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
}

.box-link-content {
    text-decoration: none;
    color: orange;
    font-size: 1.5em;
}

.main__row-three {
    display: flex;
    flex-direction: column;
    padding: 50px 33px;
    background-color: #F7F9FA;
    border-top: 1px solid #c3c3c396;
}

.row-three-first {
    display: flex;
    flex-direction: column;
}

.row-three-first-box {
    display: flex;
    width: 50%;
}

.first-content {
    margin-bottom: 30px;
}

.first-content-span {
    display: inline-flex;
    font-size: inherit;
    color: orange;
    margin-right: 20px;
}

.first-img-wrapper {
    display: flex;
}

.first-img-content {
    width: 100%;
}

.second-content {
    margin: 30px 0;
}

.second-row-one {
    display: flex;
    flex-direction: column;
}

.row-one-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.box-img-wrapper {
    display: flex;
}

.box-img-content {
    display: flex;
}

.box-heading-content {
    margin: 20px 0;
}

.box-tex-content {
    font-size: 1.2em;
    color: #575757;
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
}

.second-row-tow {
    display: flex;
    flex-direction: column;
}

.row-tow-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.main__row-four {
    display: flex;
    flex-direction: column;
    padding: 0px 33px;
}

.row-four-first {
    display: flex;
    background-color: orange;
}

.four-first-content {
    color: #fff;
    padding: .5em 1em;
    font-size: 2em;
}

.row-four-second {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.four-second-box-one {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.four-second-conetent-one,
.four-second-conetent-tow {
    font-size: 2em;
    font-weight: 700;
}

.four-span {
    color: #F5A700;
    font-size: inherit;
}

.four-second-conetent-three {
    color: #8d8e90;
    margin: 20px 0;
    font-family: var(--caption-font);
    font-weight: var(--caption-font-weight);
    font-size: var(--caption-font-size);
}

.four-linkbox {
    display: flex;
}

.four-link {
    margin-right: 10px;
    display: flex;
    text-decoration: none;
    color: orange;
    font-size: 1.2em;
}

.four-second-box-tow {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    padding: 15px;
    margin: 20px 5px;
    background-color: #f0f0f0;
}

.social-facebook,
.social-googleplus,
.social-twiteer,
.social-play,
.social-linkedin {
    color: #444444;
    font-size: 2em;
    transition: all .2s linear;
}

.social:hover .social-facebook,
.social:hover .social-googleplus,
.social:hover .social-twiteer,
.social:hover .social-play,
.social:hover .social-linkedin {
    color: #F5A700;
}

/* ---------------------------------Tablet Design--------------------------------- */
@media (min-width:767px) {

    h1 {
        font-size: var(--h1-tablet-font-size);
    }

    h2 {
        font-size: var(--h2--tablet-font-size);

    }

    h3 {
        font-size: var(--h3--tablet-font-size);
    }

    .img-wrapper {
        width: 140%;
    }

    .first-img-one {
        width: 100%;
        transform: translate(48%, 0%);
    }

    .first-img-tow {
        width: 30%;
        transform: translate(-100%, 0%);
    }

    .first-heading {
        line-height: 40px;
    }

    .row-tow_first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .first-box {
        width: 50%;
        background-color: orange;
    }

    .row-tow_second {
        flex-direction: row;
        justify-content: space-between;
    }

    .second-box-one {
        display: flex;
        padding-bottom: 0;
        flex-basis: 21%;
        line-height: 30px;
        font-size: .9em;
    }

    .second-box-tow,
    .second-box-three,
    .second-box-four {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 15px;
        flex-basis: 25%;
    }

    .box-image-content {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .box-title,
    .box-text {
        display: flex;
        font-size: 1.5em;
    }


    .main__row-three {
        flex-direction: row;
    }

    .row-three-first-box {
        width: 100%;
    }


    .row-three-second {
        margin-left: 40px;
    }

    .second-row-one,
    .second-row-tow {
        flex-direction: row;
    }

    .row-one-box {
        flex-basis: 50%;
        margin: 20px;
    }

    .box-heading-content {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .row-tow-box {
        margin: 20px;
        flex-basis: 50%;
    }

    .row-four-first {
        margin-left: auto;
        width: 50%;
    }

    .row-four-second {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .four-second-box-one,
    .four-second-box-tow {
        flex-basis: 50%;
    }

}

@media (min-width:900px) {

    .img-wrapper {
        width: 100%;
    }

    .first-img-one {
        width: 100%;
    }

}

/* ---------------------------------Laptop Design--------------------------------- */
@media (min-width:1240px) {
    h1 {
        font-size: var(--h1-desktop-font-size);
    }

    h2 {
        font-size: var(--h2-desktop-font-size);
    }

    h3 {
        font-size: var(--h3-desktop-font-size);
    }

    .img-wrapper {
        width: 90%;
    }

    .first-img-one {
        width: 100%;
    }

    .main__row-tow {
        padding: 0px 50px;
    }

}