@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif, "Prompt", "Roboto Slab";
}

:root {
    /* font-family */
    --header-font: "Prompt";
    --services-description-font: "Roboto Slab";
    --caption-font: "Roboto Slab";
    /* font-weight */
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 500;
    --caption-font-weight: 300;
    --services-description-font-weight: 400;
    --useful-accardion-font-weight: 700;
    --contact-input-font-weight: 400;
    --header-font-weight: 400;
    --footer-font-weight: 300;
    /* header1 */
    --h1-mobile-font-size: 2.5rem;
    --h1-tablet-font-size: 3.6rem;
    --h1-desktop-font-size: 4.2rem;
    /* header2 */
    --h2--mobile-font-size: 1.8rem;
    --h2--tablet-font-size: 2.6rem;
    --h2-desktop-font-size: 3rem;
    /* header3 */
    --h3--mobile-font-size: 1.3rem;
    --h3--tablet-font-size: 1.7rem;
    --h3-desktop-font-size: 2rem;
    /* caption-font-size */
    --caption-font-size: 1.3rem;
    /* description-font-size */
    --services-description-mobile-font-size: 1.3rem;
    --services-description-tablet-font-size: 1.4rem;
    --services-description-desktop-font-size: 1.6rem;
    /* accardion-font-weight */
    --accardion-font-size: 1.3rem;
    /* input-font-size: */
    --input-font-size: 1.4rem;
    /* header-font-size */
    --header-font-size: 1.4rem;
    /* footer-font-size */
    --footer-font-size: 1.3rem;
    /* colors */
    --background1: #e3e6e8;
    --background2: #1a1b27;
    --background3: #f7f9fa;
    --text-color: #8d8e90;
    --header-color: #1a1b27;
    --main-color1: #f5a700;
}