@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif, var(--header-font), var(--caption-font);
}

:root {
    /* font-family */
    --header-font: "Prompt";
    --services-description-font: "Roboto Slab";
    --caption-font: "Roboto Slab";
    /* font-weight */
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 500;
    --caption-font-weight: 300;
    --services-description-font-weight: 400;
    --useful-accardion-font-weight: 700;
    --contact-input-font-weight: 400;
    --header-font-weight: 400;
    --footer-font-weight: 300;
    /* header1 */
    --h1-mobile-font-size: 2.5rem;
    --h1-tablet-font-size: 3.6rem;
    --h1-desktop-font-size: 4.2rem;
    /* header2 */
    --h2--mobile-font-size: 1.8rem;
    --h2--tablet-font-size: 2.6rem;
    --h2-desktop-font-size: 3rem;
    /* header3 */
    --h3--mobile-font-size: 1.3rem;
    --h3--tablet-font-size: 1.7rem;
    --h3-desktop-font-size: 2rem;
    /* caption-font-size */
    --caption-font-size: 1.3rem;
    /* description-font-size */
    --services-description-mobile-font-size: 1.3rem;
    --services-description-tablet-font-size: 1.4rem;
    --services-description-desktop-font-size: 1.6rem;
    /* accardion-font-weight */
    --accardion-font-size: 1.3rem;
    /* input-font-size: */
    --input-font-size: 1.4rem;
    /* header-font-size */
    --header-font-size: 1.4rem;
    /* footer-font-size */
    --footer-font-size: 1.3rem;
    /* colors */
    --background1: #e3e6e8;
    --background2: #1a1b27;
    --background3: #f7f9fa;
    --text-color: #8d8e90;
    --header-color: #1a1b27;
    --main-color1: #f5a700;
}
.Header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Action_bar {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 233); /* added border */
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contacts__text {
    font-family: var(--Action-bar-font-family);
    font-style: normal;
    font-weight: var(--contact-input-font-weight);
    font-size: var(--caption-font-size);
    line-height: 21px;
    color: var(--text-color);
    padding: 10px;
    display: none;
    overflow: hidden;
}

.contacts__phone {
    display: flex;
}

.phone__icon {
    content: url("../assets/Images/Header/phone.svg");
    height: var(--Action-bar-icon-height);
    width: var(--Action-bar-icon-width);
    margin: 4px;
    overflow: hidden;
}

.phone__text {
    font-family: var(--Action-bar-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: var(--caption-font-size);
    line-height: 21px;
    color: var(--Action-bar-contacts-font-color);
}
.phone__text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contacts__email {
    display: flex;
    padding: 4px;
}

.email__icon {
    content: url("../assets/Images/Header/email.svg");
    height: var(--Action-bar-icon-height);
    width: var(--Action-bar-icon-width);
    margin: 4px;
}

.email__text {
    font-family: var(--Action-bar-font-family);
    color: var(--Action-bar-contacts-font-color);
    font-style: normal;
    font-weight: var(--caption-font-size);
    font-size: var(--caption-font-size);
    line-height: 21px;
    color: var(--main-color1);
}
.email__text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Social_Media {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 8px;
}
.Social_media__skype {
    width: 20px;
    height: 20px;
    background-image: url("../assets/Images/Header/skype.svg");
    background-repeat: no-repeat;
}
.Social_media__skype:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}
.Social_media__facebook {
    background-image: url("../assets/Images/Header/facebook.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.Social_media__facebook:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}

.Social_media__youtube {
    background-image: url("../assets/Images/Header/youtube.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.Social_media__youtube:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}
.Social_media__linkedin {
    background-image: url("../assets/Images/Header/linkedin.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.Social_media__linkedin:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}
.Top_bar {
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: flex-start; /* aligns to the left */
    padding: 10px 20px;
    background-color: var(--background1);
    height: 70px;
}

.Top_bar__line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: var(--background3);
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.Top_bar__icon {
    background-image: url("../assets/Images/Header/retina-logistics.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 38px;
    cursor: pointer;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.Top_bar__Menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; /* align to the right */
    position: relative; /* add relative positioning to the parent */
    width: 100%;
    font-size: var(--header-font-size);
    left: 65px;
}

.Top_bar__Menu label {
    background: rgb(247, 248, 248);
    cursor: pointer;
    padding: 15px; /* increase padding to increase icon size */
}

#Top_bar__Hamburger {
    display: none;
}

.Hamburger__items {
    opacity: 0; /* hide the menu items by default */
    visibility: hidden;
    flex-direction: column;
    background-color: rgb(247, 248, 248);
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0; /* align to the left */
    width: 100%;
    transition: all 0.3s ease-in-out; /* add transition effect */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#Top_bar__Hamburger:checked ~ .Hamburger__items {
    opacity: 1; /* show the menu items when the hamburger menu is clicked */
    visibility: visible;
}

.Hamburger__items a {
    display: block;
    padding: 5px 15px;
    width: 50px;
    text-align: center; /* center the text horizontally */
    margin-bottom: 10px; /* add some space between menu items */
    position: relative;
    right: 250px;
}

.header-tab {
    color: var(--header-color);
    border: none;
    height: 100%;
    cursor: pointer;
    font-family: var(--menu-items-font-family);
    font-style: normal;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: 55px;
    position: relative;
    background-color: rgb(247, 248, 248);
    z-index: 1;
}
.header-tab_Buy {
    color: rgb(176, 134, 133);
    border: none;
    height: 100%;
    padding: 5px 20px;
    cursor: pointer;
    font-family: var(--menu-items-font-family);
    font-style: normal;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: 55px;
    position: relative;
    background-color: rgb(247, 248, 248);
    z-index: 1;
}
.header-tab_Buy:hover {
    cursor: pointer;
    color: var(--main-color1);
    transition: 0.2s ease-in-out;
}

.header-tab_Buy:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main-color1);
    transform: scaleX(0);
}

.header-tab_Buy:hover:not(.home-tab):after {
    transform: scaleX(1); /* show the line on hover */
}

.header-tab:hover {
    cursor: pointer;
    color: var(--main-color1);
    transition: 0.2s ease-in-out;
}

.header-tab:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--main-color1);
    transform: scaleX(0);
}

.header-tab:hover:not(.home-tab):after {
    transform: scaleX(1); /* show the line on hover */
}

.home-tab {
    color: var(--main-color1);
    cursor: pointer;
    border-bottom: 4px solid var(--main-color1);
    padding: 5px 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background3);
    color: var(--text-color);
    font-family: "Marcellus", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}

h1 {
    font-weight: var(--h1-font-weight);
}

h2 {
    color: var(--header-color);
    font-size: var(--h2--mobile-font-size);
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: var(--h2-font-weight);
}

h4 {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: var(--header-font-weight);
    letter-spacing: 0px;
}

hr {
    border: none;
    outline: none;
    height: 1px;
}

.button {
    background: none;
    border: none;
    font: inherit;
    padding: 11px 22px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.section {
    max-width: 700px;
    margin: 0 auto;
}

/* SUBHEADER */
.subheader {
    background-image: url("/belogistics/assets/Images/Useful information/png/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.subheader__title {
    text-align: center;
    color: var(--header-color);
    font-size: var(--header-font-size);
    line-height: 35px;
    font-weight: var(--h1-font-weight);
}

/* CONTENT */
.content {
    padding: 80px 20px 40px;
}

.content__wrapper {
    padding: 0 15px 20px;
}
.content__title {
    text-align: center;
    padding-bottom: 30px;
}

.content__desc {
    font-size: var(--caption-font-size);
    text-align: center;
    padding: 0 30px;
}
.content__title .themecolor {
    color: var(--main-color1);
    font-size: var(--h2--mobile-font-size);
}

/* PLAN */
.plans {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px;
}

.plan:nth-child(2) {
    background: #373b42;
}

.plan__title {
    text-align: center;
    padding: 20px 0 10px;
}

.plan:nth-child(2) .plan__title {
    color: var(--background3);
}

.plan__price {
    text-align: center;
    font-family: var(--header-font), Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 5px 0 15px;
}

.plan__price-currency {
    color: var(--main-color1);
    font-size: var(--caption-font-size);
    line-height: 14px;
    top: -10px;
    position: relative;
}

.plan:nth-child(2) .plan__price-currency {
    color: var(--background3);
}

.plan__price span {
    color: var(--main-color1);
    font-size: 3.2rem;
    line-height: 32px;
    margin: 0 3px;
}

.plan:nth-child(2) .plan__price span {
    color: var(--background3);
}

.plan__price-period {
    color: #a8a8a8;
    font-size: 1.3rem;
    line-height: 13px;
    top: -15px;
    position: relative;
}

.plan:nth-child(2) .plan__price-period {
    color: var(--background3);
}

.plan .hr_color {
    background: var(--main-color1);
    width: 100%;
}

.plan:nth-child(2) .hr_color {
    background: #000;
}

.plan__inside {
    padding: 10px 30px;
    text-align: center;
    font-family: var(--header-font);
    font-weight: var(--services-description-font-weight);
}

.plan__inside p:first-child {
    color: #3b3b3f;
    padding-bottom: 15px;
}

.plan__inside p:last-child {
    color: #8d8e90;
}

.plan__inside p {
    font-size: var(--services-description-mobile-font-size);
}

.plan:nth-child(2) .plan__inside p:first-child {
    color: var(--background3);
}

.plan:nth-child(2) .plan__inside p:last-child {
    color: #dde0e7;
}

.plan__footer {
    margin: 27px 0 20px;
}

.plan__footer-btn {
    background-color: var(--main-color1);
    color: var(--background3);
    font-size: var(--services-description-mobile-font-size);
}
.plan:nth-child(2) .plan__footer-btn {
    background-color: var(--background3);
    color: #444;
}

/* QUESTIONS */
.questions-section {
    border-top: 1px solid #cbd1d5;
    border-bottom: 1px solid #cbd1d5;
    background-color: #f7f9fa;
}
.questions {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}

.question__img img {
    width: 300px;
    object-fit: cover;
}

.question__accordion {
    padding-top: 40px;
    width: 100%;
}

.question__accordion-wrapper {
    padding-top: 40px;
    margin: 0 auto;
    width: 100%;
}

.question {
    border-left: 1px solid #d6d7da;
}

.question.active {
    border-left: 2px solid var(--main-color1);
}

.question__title {
    padding: 14px 14px 14px 20px;
    font-size: var(--accardion-font-size);
    font-weight: var(--useful-accardion-font-weight);
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.04);
    color: #000;
}

.question.active .question__title,
.question.active .fa {
    color: var(--main-color1);
}

.question__title .fa {
    color: rgba(0, 0, 0, 0.25);
}

.question__title .fa-minus {
    display: none;
}

.question.active .question__title .fa-plus {
    display: none;
}

.question.active .question__title .fa-minus {
    display: block;
}

.question__answer {
    display: none;
    background: none;
    padding: 0 20px 10px 50px;
    overflow: hidden;
    box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.06);
    font-size: var(--accardion-font-size);
    line-height: 25px;
    font-weight: var(--useful-accardion-font-weight);
}

.question.active .question__answer {
    display: block;
}

.question__answer p:first-child {
    margin: 0 0 15px;
}

.not-active .question__answer {
    height: 0px;
    transition: height 1s ease-out;
}

.active .question__answer {
    width: 100%;
    display: block;
}

/* INFO */
.info {
    padding: 80px 33px 50px;
}

.info__title {
    display: flex;
    align-items: start;
    gap: 20px;
    padding-bottom: 40px;
}

.info .fa {
    background-color: var(--main-color1);
    color: var(--background3);
    padding: 9px;
    border-radius: 50%;
    font-size: var(--caption-font-size);
}

.info__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 10px;
}

.info__items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.item__desc h4 {
    color: var(--header-color);
    font-weight: var(--caption-font-weight);
    padding-bottom: 15px;
}

.item__desc p {
    font-size: var(--caption-font-size);
    font-weight: var(--caption-font-weight);
}

/* FOOTER */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 27, 39);
}

.footer_top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer_down {
    display: flex;
    width: 100%;
    height: 100%;
}
.bold {
    display: flex;
    flex-direction: column;
    padding: var(--footer-section-padding);
}

.bold__title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--title-font-color);
    font-family: var(--title-font-family);
    padding: 10px;
}

.bold__subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.bold__subtitle_icon {
    content: url("https://api.iconify.design/tabler/direction-sign.svg?color=white&width=10&height=10");
    width: 10px;
    height: 10px;
}

.bold__subtitle_text {
    font-size: var(--subtitle-font-size);
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
    margin-left: 20px;
    margin-top: -10px;
}

.bold__subtitle_text:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(245, 170, 8);
}

.subtitle_info {
    font-size: var(--subtitle-font-size);
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--text-color);
    padding: 10px;
    margin-top: -10px;
}
.container {
    position: relative;
}

.line {
    height: 1px;
    background-color: rgb(95, 87, 90);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 240px;
}

.footer_end {
    font-size: var(--subtitle-font-size);
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--text-color);
    padding: 100px 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer_refs {
    font-size: var(--subtitle-font-size);
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
}
.footer_refs:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(245, 170, 8);
}

.Social_Media {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 8px;
    padding: 10px;
}
.Social_media__skype {
    width: 25px;
    height: 25px;
    background-image: url("../assets/Images/Header/skype.svg");
    background-repeat: no-repeat;
    filter: invert(1);
}
.Social_media__skype:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}
.Social_media__facebook {
    background-image: url("../assets/Images/Footer/facebook.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.Social_media__facebook:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}

.Social_media__youtube {
    background-image: url("../assets/Images/Footer/youtube.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.Social_media__youtube:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}
.Social_media__linkedin {
    background-image: url("../assets/Images/Footer/linkedin.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    filter: invert(1);
}
.Social_media__linkedin:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}

/* Default styles for all screen sizes */
p {
    margin-bottom: 1rem;
}

.social-media {
    margin-bottom: 1rem;
}

.Return_top {
    content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
    height: 40px;
    width: 35px;
}

@media only screen and (max-width: 768px) {
    .Return_top {
        content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
        height: 35px;
        width: 30px;
        position: absolute;
        z-index: 999;
        bottom: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer_end {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--text-color);
        padding: 40px;
        text-align: center;
        position: relative;
        bottom: -10px;
        margin-top: 20px;
    }

    .line {
        height: 1px;
        background-color: rgb(95, 87, 90);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 160px;
    }

    .bold__subtitle_text {
        font-size: var(--subtitle-font-size);
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--subtitle-font-color);
        margin-left: 20px;
        margin-top: -2px;
    }
}

@media only screen and (min-width: 1240px) {
    .social-media {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-bottom: 0;
    }

    .footer_end__social_Media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }
    .footer_top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: rgb(26, 27, 39);
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

    .line {
        height: 1px;
        background-color: rgb(95, 87, 90);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100px;
    }

    .bold__title {
        font-size: 20px;
        font-weight: var(--title-font-weight);
        color: var(--title-font-color);
        font-family: var(--title-font-family);
        padding: 10px;
    }

    .bold__subtitle_text {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: 300;
        color: var(--subtitle-font-color);
        position: relative;
        bottom: 18px;
        left: 20px;
    }

    .line {
        height: 1px;
        background-color: #707176;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
    }

    .footer_end {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: #707176;
        padding: 100px;
    }

    .subtitle_info {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: 300;
        color: #707176;
        width: 250px;
    }

    .bold__subtitle_icon {
        content: url("https://api.iconify.design/uil/arrow-circle-right.svg?color=%23a29794");
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .bold__subtitle {
        display: flex;
        flex-direction: column;
        padding: 8px;
        align-items: stretch;
        justify-content: flex-start;
    }

    .footer_refs {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--subtitle-font-color);
    }
    .container {
        overflow: hidden;
    }

    .Return_top {
        content: url("https://api.iconify.design/ph/caret-up-light.svg?color=%2351525a&width=24&height=24");
        height: 40px;
        width: 35px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1240px) {
    .social-media {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-bottom: 0;
    }

    .footer_end__social_Media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer_top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: rgb(26, 27, 39);
        justify-content: center;
        align-items: flex-start;
        padding: 100px;
    }

    .bold__title {
        font-size: 20px;
        font-weight: var(--title-font-weight);
        color: var(--title-font-color);
        font-family: var(--title-font-family);
        padding: 10px;
    }

    .bold__subtitle_text {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: 300;
        color: var(--subtitle-font-color);
        position: relative;
        bottom: 6px;
        left: 8px;
    }

    .line {
        height: 1px;
        background-color: #707176;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 150px;
        border: none;
    }

    .footer_end {
        font-size: 18px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: #707176;
        padding: 10px;
    }

    .subtitle_info {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: 300;
        color: #707176;
        width: 250px;
    }

    .bold__subtitle_icon {
        content: url("https://api.iconify.design/uil/arrow-circle-right.svg?color=%23a29794");
        width: 20px;
        height: 20px;
        padding: 5px;
    }

    .bold__subtitle {
        display: flex;
        flex-direction: column;
        padding: 8px;
        align-items: stretch;
        justify-content: flex-start;
    }

    .footer_refs {
        font-size: 20px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--subtitle-font-color);
    }
    .container {
        overflow: hidden;
    }

    .footer_end {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: #707176;
        padding: 100px;
    }

    .footer_refs {
        font-size: 13px;
        font-family: var(--subtitle-font-family);
        font-weight: var(--subtitle-font-weight);
        color: var(--subtitle-font-color);
    }

    .bold__subtitle {
        display: flex;
        flex-direction: column;
        padding: 8px;
        align-items: stretch;
        justify-content: flex-start;
        width: 170px;
    }

    .bold {
        display: flex;
        flex-direction: column;
    }
}

/* Tablets */
@media only screen and (min-width: 766px) {
    h2 {
        font-size: var(--h2--tablet-font-size);
        line-height: 29px;
    }

    h4 {
        font-size: 1.7rem;
        line-height: 21px;
        letter-spacing: 0px;
    }

    .section {
        max-width: 708px;
    }
    /* SUBHEADER */
    .subheader__title {
        font-size: var(--h1-tablet-font-size);
        line-height: 39px;
    }

    /* CONTENT */
    .content__title {
        padding: 0 86px;
    }

    .content__title .themecolor {
        font-size: var(--h2--tablet-font-size);
    }

    /* PLAN */
    .plans {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding: 40px 0;
    }

    .plan .hr_color {
        width: 60%;
        margin: 0 auto;
    }

    /* QUESTIONS */
    .questions {
        max-width: 740px;
        flex-direction: row;
        gap: 20px;
        padding: 30px 30px 0;
    }

    .question__img {
        align-self: flex-end;
    }

    .question__img img {
        width: 350px;
    }

    .question__accordion {
        padding: 60px 0;
    }

    /* INFO */
    .info {
        padding: 80px 0 60px;
    }
    .info__title {
        width: 55%;
    }
    .info__items {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 0px;
    }
    .info__items .item {
        flex-direction: row;
        align-items: start;
        gap: 10px;
    }

    .item__desc {
        padding-top: 20px;
    }
}

/* Laptops */
@media only screen and (min-width: 1240px) {
    h2 {
        font-size: var(--h2-desktop-font-size);
        line-height: 34px;
    }
    h4 {
        font-size: 2rem;
        line-height: 25px;
    }
    .section {
        max-width: 1102px;
    }
    /* SUBHEADER */
    .subheader__title {
        font-size: var(--h1-desktop-font-size);
        line-height: 46px;
    }

    /* CONTENT */
    .content__title {
        padding: 0 150px;
    }

    .content__title .themecolor {
        font-size: var(--h2-desktop-font-size);
    }

    /* PLAN */
    .plans {
        padding: 60px 0;
        gap: 30px;
    }

    .plan {
        padding: 20px 0 10px;
    }

    .plan__price-currency {
        font-size: 2rem;
        line-height: 20px;
    }

    .plan__price span {
        font-size: 4.5rem;
        line-height: 45px;
        font-weight: 300;
    }

    /* QUESTIONS */
    .questions {
        max-width: 1102px;
        gap: 80px;
        padding: 60px 30px 0;
    }

    .question__accordion {
        padding-top: 10px;
    }

    .question__img img {
        width: 450px;
    }

    /* INFO */
    .info {
        padding: 80px 0 80px;
    }

    .info__items {
        gap: 50px;
    }

    .info__items .item {
        gap: 30px;
    }
}

